<h3>
	Register Form
</h3>
<form method="post" action="/register">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button>Submit</button>
</form>